.login-sidebar{
    -fx-background-color: #007FF5;
}

.login-main{
    -fx-background-color: white;
}

.login-forgot{
    -fx-background-color: white;
    -fx-text-fill: grey;
    -fx-cursor: hand;
}

.login-button{
    -fx-text-fill: #444444;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-color: white;
    -fx-border-color: #444444;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.login-button:hover{
    -fx-text-fill: white;
    -fx-background-color: #0DA9F1;
    -fx-border-color: #0DA9F1;
    -fx-cursor: hand;
}

.field-decoration{
    -fx-border-radius: 70px;
    -fx-background-radius: 70px;
}

.dashboard-top{
    -fx-background-color: grey;
}

.dashboard-sidebar{
    -fx-background-color: #424B6C;
}

.dashboard-profilepic{
    -fx-background-color: #3B4463;
}

.dashboard-menu{
    -fx-background-color: #424B6C;
    -fx-text-fill: #D3D3D3;
    -fx-font-size: 18px;
    -fx-font-family: calibri;
    -fx-text-transform: uppercase;
    -fx-font-weight:bold;
    -fx-alignment: CENTER_LEFT;
}

.dashboard-menu:hover{
    -fx-background-color: transparent;
    -fx-border-color: #0D8BC5;
    -fx-text-fill: white;
    -fx-border-width: 0px, 0px, 0px, 5px;
    -fx-cursor: hand;
}

.dashboard-menu:pressed{
    -fx-background-color: transparent;
    -fx-border-color: #0D8BC5;
    -fx-text-fill: #0DA9F1;
}

.dashboard-btns{
    -fx-background-color: white;
    -fx-text-fill: #0DA9F1;
}

.dashboard-btns.hover{
    -fx-background-color: white;
    -fx-text-fill: #0DA9F1;
    -fx-cursor: hand;
}

